//- footer structure
#footer
    #footer-content.max-content
        #contact-block
            h1 Impressum
            p.footer-contact-line Su Albrecht
            #contact-address
                p.footer-address-line Seidenhofstraße 56
                p.footer-address-line 8020 Graz, AT

        .grid-space
        #link-block
            #social-media-block
                a#instagram-link(href="https://www.instagram.com/die_bootschafterin/" target="blank"): svg: use(href="#svg-instagram-icon")
                a#facebook-link(href="https://www.facebook.com/su.diebootschafterin.3" target="blank"): svg: use(href="#svg-facebook-icon")
            #further-links-block
                h2 Weitere Links
                a(href="https://spinnerinnen.ch/su-albrecht/" target="blank") Die Spinnerinnen
                a(href="" target="blank") ...
    
    #copyright-block Copyright 2021