// footer styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
footer-content-padding-top = 35px
footer-content-padding-bottom = 50px
mobile-footer-block-gap = 50px

center-column-width = 200px
edge-column-min-width = 220px

social-icon-size = 30px
decoration-claim-height = 30px
social-media-icons-gap = 8px
social-media-icons-to-decoration-claim-gap = 5px

footer-icon-size = 40px


/*==========================================================
Serious Stuff
==========================================================*/
#footer
    background-color footer-background

#footer-content
    padding-top footer-content-padding-top
    padding-bottom footer-content-padding-bottom
    display: grid
    grid-template-columns: 1fr center-column-width 1fr

#copyright-block
    background-color cd-dark-mono
    text-align: center
    box-sizing: border-box
    padding 10px
    color cd-green
    p
        margin-bottom 0

/*=====================================================
Grid Blocks
===================================================*/
#boot-block
    svg
        width 130px
        height 130px
    #boot-frame
        margin auto
        width 140px
        // border solid 2px
        // border-radius 50%
        // overflow: hidden
#link-block
    text-align: right
    a
        margin-right 7px
    #social-media-block
        margin-bottom: 20px
        a
            width footer-icon-size
            height footer-icon-size
            svg
                width footer-icon-size
                height footer-icon-size
    #further-links-block
        a
            display block
/*=====================================================
Responsive Parts
===================================================*/
min-width-for-full-grid = ((2 * edge-column-min-width) + center-column-width + (2 * mobile-side-padding))
@media screen and (max-width: min-width-for-full-grid)
    #footer-content
        grid-template-columns: auto
        grid-row-gap mobile-footer-block-gap
    #contact-block
        text-align: center
    #link-block
        text-align: center