doctype html
html(lang="de")
    head
        meta(charset='utf-8')

        title Bootschafterin - Gallerie/SammelSurium
        meta(name='description', content='Meine Gallerie - Mein SammelSurium - Was mir am meisten gefällt stelle ich hier aus - viel Spass!')

        link(rel='manifest' href='manifest.json')
        //- Icon Stuff
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#3c3717")
        meta(name="msapplication-TileColor", content="#3c3717")
        meta(name="theme-color", content="#3c3717")

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        include styles-include.pug
    body
        include ../../source/gallerie/galleriebody.pug
        include scripts-include.pug
    