body
    include components/header.pug
    
    include components/welcome/welcome.pug
    include components/services/services.pug
    include components/company/company.pug
    include components/partner/partner.pug

    include ../footermodule/footer.pug
    include ../upbuttonmodule/upbutton.pug