#services-section.max-content
    h1 Unsere Leistungen
    p Wir bieten wirtschaftliche Lösungen für die Bedürfnisse Ihres Unternehmens! Unser Leistungsportfolio ist breit gefächert und wird individuell auf Ihre Bedürfnisse abgestimmt. Auf unsere kompetenten Sicherheitstechnischen- und Umwelttechnischen Leistungen können Sie jederzeit vertrauen.
 

    //- Sicherheitstechnik & Arbeitnehmerschutz
    //- Behördenmanagement
    //- Brand- & Explosionsschutz



    h2 Sicherheitstechnik & Arbeitnehmerschutz
    ul
        
        li Beratung und Unterstützung der Geschäftsführung
        li Beratung der Arbeitnehmer/innen, SVP, Betriebsräten/innen und BVP, in Kooperation mit Arbeitsmediziner/innen auf dem Gebiet des Arbeitnehmerschutzes
        li Wiederkehrende Begehungen der Arbeitsplätze und Arbeitsstätten
        li Sämtliche Evaluierungen von Arbeitsplätzen und Betriebsanlagen
        li Erstellung der Sicherheits- und Gesundheitschutzdokumente und deren laufenden Anpassungen
        li Unterweisungen der Mitarbeiter/innen und Erstellung von Unterweisungsunterlagen
        li Beratung und Unterstützung bei der Einführung von neuen Arbeitsstoffen, Arbeitsmitteln, Maschinen sowie bei der Planung und Abwicklung neuer Betriebsstätten
        li Erstellung von Gefahr- und Risikoanalysen und Beratung zu den sich daraus ergebenden Maßnahmen
        li Beratung und Umsetzung betrieblicher Gesundheitsvorsorge




    h2 Behördenmanagement
    ul
        li Unterstützung und Beratung im Umgang mit Behörden wie z.B. dem Arbeitsinspektorat
        li Beratung sowie Ausführung von gewerberechtlichen Betriebsanlagengenehmigungsverfahren
        li Teilnahme und Unterstützung bei Begehungen mit Behördenvertretern
        li Abklärung und Abwicklung von sicherheitstechnischen Maßnahmen bei laufenden und neuen Projekten

    h2 Brand- & Explosionsschutz
    ul

        li Beratung des Arbeitgebers in allen Belangen des Brandschutzes
        li Betreuung als externer Brandschutzbeauftrager
        li Erstellung, Digitalisierung und Druck von Brandschutzplänen gemäß TRVB O 121 und Brandschutzkonzepten
        li Überarbeitung vorhandener Brandschutzpläne
        li Durchführung von Brandschutzschulungen und Organisation von Brandschutzübungen
        li Erstellung von Orientierungs-, Flucht- und
        li Evakuierungsplänen gem. DIN ISO 23601



