//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/

services-section-spacings = 30px

/*=====================================================
The Serious Stuff
=====================================================*/
#services-section
    margin-top services-section-spacing
    margin-bottom services-section-spacing 