#partner-section.max-content
    h1 Partner
    p Da die Sicherheitstechnik in vielen Belangen direkt an andere Branchen und Gewerbe anknüpft, wollen wir unseren Kunden umfangreiche und kompetente Betreuung in allen technischen sowie rechtlichen Belangen anbieten.
 
    p Wir sind Stolz auf die Zusammenarbeit mit unseren Partnern:

//- UMWELTENGINEERING
//- HERESCH & HERESCH
//- Dipl.-Ing. Andreas Heresch
//- Ingenieurkonsulent für Wirtschaftsingenieurwesen im Maschinenbau
//- office@heresch.com
//- www.heresch.com



//- ARBEITSMEDIZIN
//- Dr. Andreas Stryeck
//- Arzt für Allgemeinmedizin | Notarzt | Fortbildungsdiplom | Arbeitsmedizin
//- Vasoldsberg 33
//- A-8076 Vasoldsberg
//- 03135 48379
//- ordination@dr-stryeck.at
//- www.dr-stryeck.at


//- ARBEITSRECHT
//- Mag. Andreas Hörmann
//- Versicherungsrecht | Zivilrecht Verwaltungsrecht | Strafrecht
//- hoermann@recht.or.at
//- +43 680 4013785



//- ARBEITSPSYCHOLOGIE
//- research-team
//- Brandhofgasse 7
//- 8010 Graz
//- +43 676 844 510 310
//- office@research-team.at
//- www.research-team.at


