//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/

partner-section-spacings = 30px

/*=====================================================
The Serious Stuff
=====================================================*/
#partner-section
    margin-top partner-section-spacings
    margin-bottom partner-section-spacings