#company-section.max-content
    h1 Unternehmen
 
    h2 Über uns
    
    p Wir sind ein junges dynamisches Team von Experten/innen, welches sich zur Aufgabe gemacht hat, Arbeitnehmer/innenschutz sowie die betriebliche Gesundheitsförderung in den österreichischen Betrieben zu unterstützen. Unser Ziel ist es, Sie dabei zu beraten und Ihr Unternehmen zu einem „zero incidents“-Betrieb zu  führen.
    
    p Im Mittelpunkt steht dabei stets die Haftung der Geschäftsführung gegenüber ihrer Mitarbeitern/innen.
    
    p Aufgrund von sich ständig verändernden Anforderungsprofilen in der heutigen Arbeitswelt, der Zunahme psychischer Belastungen, sowie eine sich verändernde Altersstruktur in den Betrieben, ist die betriebliche Gesundheitsförderung zunehmend eine unternehmerische Notwendigkeit. Wir sind überzeugt, dass motivierte und gesunde Mitarbeiter/innen die Grundlage für die erfolgreiche Positionierung Ihres Unternehmens sind. Daher ist es unser Anliegen durch die Schaffung geeigneter und wirtschaftlicher Rahmenbedingungen, sowie durch Förderung der psychischen und physischen Gesundheit nachhaltige Erfolge bei unseren Kunden zu erzielen.
 

    h2 Unsere Unternehmensphilosophie
 
    p Um eine hohe Qualität gewährleisten zu können, arbeiten wir strikt nach den geltenden Gesetzen, Regeln, Normen und Standards, im Mittelpunkt dabei stehen stets Mensch und Umwelt. Darum erbringen wir hochwertige Leistungen nach dem aktuellen Stand der Technik und bieten wirtschaftliche Lösungen. Wir orientieren uns immer an allgemeingültigen ethischen Werten und Prinzipien, insbesondere an Fairness, Integrität und Rechtschaffenheit und am Respekt vor der Menschenwürde.
    p Im Interesse unserer Kunden optimieren wir unsere Prozesse und Leistungen durch den Einsatz der neuesten umwelt- und sicherheitsgerechten Technik ständig und nachhaltig weiter. Darum führen wir einen kontinuierlichen, verantwortungsbewussten und offenen Dialog mit unseren Partnern.
