//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
company-section-spacings = 30px

/*=====================================================
The Serious Stuff
=====================================================*/
#company-section
    margin-top company-section-spacings
    margin-bottom company-section-spacings