//- header structure
#header
    //- #menu-row
    #menu.max-content
        #home-link-block
            svg: use(href="#svg-boot-icon")
            a#home-link.menu-link(href="/") Hafen
        #gallerie-link-block 
            svg: use(href="#svg-boot-icon")
            a#gallerie-link.menu-link(href="/gallerie.html")  Gallerie
        
        //- #bootschafterin-link.menu-link: a(href="/") Bootschafterin 
        //- #events-link.menu-link: a(href="/events.html") Events
        //- #burger
