//- header structure
#header 
    //- #logo-frame-row
    #menu-row
        #menu.max-content
            a#menu-link-home.menu-link(href="#top") Home
            a#menu-link-services.menu-link(href="#services") Service Leistungen
            a#menu-link-company.menu-link(href="#company") Unternehmen
            a#menu-link-partner.menu-link(href="#services") Partner 
            a#menu-link-contact.menu-link(href="#services") Kontakt
            #burger
    //- #banner-image-row
    //- #page-quote-row
    //-     .inner-content
    //-         block page-quote
    //-         block page-quite-signature