//- header structure
#header
    #logo-frame: svg: use(href="#svg-boot-icon")
    //- #menu-row
    #menu
        //- #bootschafterin-link.menu-link: a(href="/") Bootschafterin 
        #sammelsurium-link.menu-link: a(href="/sammelsurium.html") SammelSurium
        //- #events-link.menu-link: a(href="/events.html") Events
        #burger
