// header styles
logo-size = 180px
logo-top-spacing = 20px
logo-to-menu-gap = 10px

burger-size = 30px

minimal-menu-width = 750px

#header
    padding 8px
    background cd-dark-mono
    color cd-green
    svg
        width 70px
        height: 70px
        stroke-width 15px

#home-link-block
    display flex
    svg
        display none

#gallerie-link-block
    display flex
    svg
        display none

// #menu-row
    

#menu
    display: flex
    justify-content: space-around
    align-items: center
    #burger
        display: none
        background-image: url(/img/burger-icon.svg)
        width: burger-size
        height: burger-size

    .menu-link
        text-transform: uppercase
        font-size: 14pt
        font-weight bold


@media screen and (max-width: minimal-menu-width)
    #menu
        flex-direction: column
        .menu-link
            padding: 10px
            text-align: center
    #menu.collapsed
        .menu-link
            display: none
        #burger
            display inline-block
            text-align center
            margin auto