/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
=========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/     
footer-background = cd-green

/*==========================================================
Menu Switch
==========================================================*/
#gallerie-link-block
    svg
        display block !important

/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Component Styles
==========================================================*/
@import 'components/banner/styles.styl'