#welcome-section.max-content
    h1 Herzlich Willkommen bei AUSTROprevent!
    p Ihrem unabhängigen Spezialisten für alle Belange in Sachen
    ul
        li Sicherheitstechnik
        li Arbeitnehmerschutz
        li Behördenmanagement
        li Arbeitsrecht
        li Brandschutz
        li EX-Schutz
        li Genehmigungsverfahren von Betriebsanlagen, uvm.

