#banner-image-row
#welcome-section.inner-content
    h1 Die BooTschafterin in mir...
    h2 Boote, Schiffe, Pirat*innen und das Meer, <br>sowie das Element Wasser haben mich schon immer sehr fasziniert. <br>Übrigens bedeutet Su auf Türkisch "Wasser".

    p Mit Papierbooten fing alles an. Ich faltete Papierboote, beschriftete sie mit positiven Nachrichten und verteilte sie an Menschen in der Stadt.
    
    p Ich wollte etwas Positives bewirken und stellte mir auch immer wieder die Frage: „Wie kann ich meine vielseitigen Fähigkeiten mit anderen teilen?“ Da gibt es so viele kreative Ausdrucksformen, die mich bewegen: Tanz, Theater, Clownerie, malen, zeichnen, singen, Masken bauen, Kostüme gestalten, aus alten Dingen Neues machen …
    
    p Dabei liebe ich es, in die Fülle zu gehen, diese Dinge zu kombinieren und verbinden. Ja, schon gut, nur wie bring ich alles unter einen Hut? Oder besser gesagt, auf ein Boot?
    
    p Die BooTschafterin wurde geboren, denn sie schafft(e) es, verschiedene Boote in die Welt zu schicken und freut(e) sich über Boote, die zu ihr zurück kommen (kamen).
    
    p Wenn ich das alles mit Herzensmenschen, Seelenschwestern und Wegbegleiter*innen verbinde, ist das Glück vollkommen. Netzwerken, verbinden, teilen, miteinander, geben und bekommen. Das ist Fülle – da fühle ich mich reich beschenkt.
    
    p Du findest mich auch auf Instagram unter <a href="https://www.instagram.com/die_bootschafterin/" target="blank">Die Botschafterin</a> und bei Facebook als <a href="https://www.facebook.com/su.diebootschafterin.3" target="blank">Boot Schafterin</a>.
